<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.jayam.settle.upi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>settle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.gid</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.226718047162-nt5q0u14upppaqpi9vk896ba5a7p6o9c</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gpay</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>upi</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Settle uses your contacts to quickly add friends to groups.</string>
</dict>
</plist>
